build*_*_*.log
obj*_*_*/
build
dist
~*
*.log
*.egg-info
*.egg
*.o
.coverage
coverage
coverage.xml
.profile
profile
xunit.xml
.virtual/
.build/
.test/
_t/

#python specific
*.pyc

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.swo
*.out

## ctags file
tags
TAGS.gz

.ropeproject

#eclipse specific
.settings/*

#clique manager specific, temporary current yet.
cmd.dat

#For Test
*.rec

#test
ca.srl
privkey.pem
.srl
